<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>FINAL S.O</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="jumbotron text-center" style="margin-bottom:0" >  

		<h3  >Proyecto final S.O :: Andrés Varela - Kevin Balanta</h3>

	</div>
	<div style="margin-left: 500px; margin-right: 500px" >
		<ul class="nav nav-pills flex-column" >
			<li><a  class="nav-link active" style="background-color: #00ff83"  th:href="@{/processes/all}"> Listar Procesos </a><br>
			</li>
			
			
		</ul>

	</div>
</body>
</html>